/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.fleet
/.idea
/.nova
/.phpunit.cache
/.phpactor.json
/.vscode
/.zed
Homestead.json
Homestead.yaml
auth.json
.env
.env.backup
.env.production
.phpunit.result.cache
*.log
.DS_Store
Thumbs.db
/mysql_data
/ovnex
